@use "../base/mixins" as *;

.filter-todo {

  #filter-btn {
    @include flex-center(row, space-evenly, center);
  }

  #filter-select {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  button {
    margin: 10px;
    color: #351e76;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(255, 255, 255, 0.7);
    background-color: transparent;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    transition: transform 0.2s ease-in-out, color 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.4);
    }
  }
}

@media (max-width: 768px) {
  .filter-todo {

    #filter-btn {
      display: none;
    }

    #filter-select {
      display: flex !important;
      opacity: 1;
    }
  }
    select {
      margin: 20px auto;
      width: 80%;
      padding: 8px;
      border-radius: 8px;
      color: gray;
  }
}